.app-header-logo {
    float: left;
    height: 45px;
    margin-top: 12px;
    
}
.app-header-menu {
    float: left;
    margin-left: 20px !important;
    border-bottom: none;
    margin-top: 4px;
}
.app-header-icon {
    font-size: 18px !important;
}